.aspcheckbox-group 
{
    display: block;
    padding-top: 5px;
}
.aspcheckbox-group input
{
    float: left;
    width: 18px;
}
.aspcheckbox-group label 
{
    margin-left: 18px;
}

form {
    margin: 0;
}

.row {
    margin-bottom: 20px;
}

.hero {
    margin: 0;
}

.field-required {
    color: #f00;
    margin: 0 10px;
}

/*.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #4c5966;
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-image: linear-gradient(to bottom, #4c5966, #414c57);
    border-left-color: #414c57;
    border-right-color: #414c57;
    border-top-color: #414c57;
    border-bottom-color: #4c5966;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #414c57;
  *background-color: #414c57;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #414c57 \9;
}*/

.review {
    position: relative;
}
.review .form-actions {
    margin: 0;
}
.service {
    padding-bottom: 10px;
}

.accordion-inverse {
    background: #414c57;
}
    .accordion-inverse h5,
    .accordion-inverse a,
    .accordion-heading i {
        color: #fff !important;
        text-decoration: none !important;
    }

.update-progress-back {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #ffffff;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
    .update-progress-back img {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -16px 0 0 -16px;
    }

.file-image {
    max-height: 300px;
    max-width: 300px;
}

.navbar-form {
    margin-bottom: 20px;
}